@model EntityLayer.Concrete.Team
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Takım Arkadaşı Ekle</h1>
<form asp-action="Ekle" asp-controller="Admin" method="post">
    <div class="mb-3">
        <label class="form-label">TAKIM ARKADAŞI ADI</label>
        <input asp-for="teammate_Name" type="text" class="form-control">

    </div>
    <div class="mb-3">
        <label class="form-label">TAKIM ARKADAŞI SOYADI</label>
        <input type="text" class="form-control" asp-for="teammate_Surname">
    </div>
    <div class="mb-3">
        <label class="form-label">TAKIM ARKADAŞI DEPARTMANI</label>
        <input type="text" class="form-control" asp-for="teammate_Department">
    </div>
    <div class="mb-3">
        <label class="form-label">TAKIM ARKADAŞI MAAŞI</label>
        <input type="text" class="form-control" asp-for="teammate_Salary">
    </div>
    <div class="mb-3">
        <label class="form-label">TAKIM ARKADAŞI ŞİFRE</label>
        <input type="text" class="form-control" asp-for="teammate_Password">
    </div>
    <div class="mb-3">
        <label class="form-label">TAKIM ARKADAŞI ROLU</label>
        <input type="text" class="form-control" asp-for="teammate_Role">
    </div>
    <button type="submit" class="btn btn-primary">KAYIT EKLE</button>
</form>

